#### Introduction to Python Training

In [1]:
# our first Python code (THIS IS A COMMENT)
# "#" in a CODE cell refers to a comment
# in the previous MARKDOWN cell "#" refers to the SIZE of the heading

In [2]:
print("hello world!") # a simple display message

hello world!

In [3]:
# Exercise - please go ahead and print out your name
print("Barry")

Barry

In [4]:
# what if I want to print double quotes as well ?
print('"hello world again!"')

"hello world again!"

In [6]:
# use of a single " inside a text string
# (use of \ as an ESCAPE character)
print("Hello with a \" inside a sentence")

Hello with a " inside a sentence

#### Variables

variable is a type of "identfier"

In [7]:
myVar = "Barry" # myVar is a variable, we are assigning "Barry" to myVar
print(myVar)

Barry

In [8]:
# NB dont use Python keywords as variables!
lambda = "Barry"
print(lambda)

SyntaxError: invalid syntax (<ipython-input-8-5791c8b4a845>, line 2)

error is a result of lambda being a reserved Python keyword

In [9]:
# Exercise - please display another message, 
# using a variable and a comment
myMsg = "this is another message" # myMsg is a variable, 
# we are assigning "this is another message" to myMsg
print(myMsg)

this is another message

In [13]:
# user prompts - use the "input" keyword to ASK a user to input
# a value we want to "process" afterwards

myName = input("Enter name: ")

outputMsg = "Hello " + myName + "!" 
# "+"" is used to concatenate the user input with "Hello" and "!"

print(outputMsg)

Enter name: Barry
Hello Barry!

In [ ]:
# Exercise - see if you can write some Python code which prompts user
# for their name, job role, company and then displays a message

In [11]:
myName = input("Enter name: ")
myJob = input("Enter role: ")
myCompany = input("Enter company: ")

print("Hello " + myName + ", you work as a " + myJob + " at " + myCompany + ".")

Enter name: Barry
Enter role: Data Analyst
Enter company: Pairview
Hello Barry, you work as a Data Analyst at Pairview.

#### Operators & Conditionals

In [1]:
# arithmetic operators
a = 10
b = 5

print(a + b) # addition
print(a - b) # subtract
print(a * b) # multiply
print(a / b) # divide (results in a float)
print(a ** b) # to the power of

15
5
50
2.0
100000

In [6]:
# Conditionals

var = 100

# condition being tested is var > 101 true ?
if var > 101:
    print(var, "is greater than", 101)

nothing happens as we have no ELSE condition (and 100 is NOT > 101)

In [9]:
# if...else

gameActive = False # Boolean
canEdit = False # Boolean

# gameActive or canEdit MEANS if gameActive == True OR canEdit == True
if gameActive or canEdit:
    print("yes")
else:
    print("no")

no

In [13]:
# Exercise - write an IF statement which asks/prompts the user for two different numbers
# and displays the relationship b/w the numbers i.e. a > b, b>a or a == b

a = input("Enter a: ")
b = input("Enter b: ")

if a > b:
    print("a is greater than b")
elif b > a:
    print("b is greater than a")
elif a == b:
    print("a is equal to b")
else:
    print("error - how can this happen ??")

Enter a: gfsda
Enter b: hgdf
b is greater than a

In [ ]:
# Stretch exercise - can you add an error handler for invalid text entries ?

In [16]:
# try..except as an error handler for text entries
try:
    a = int(input("Enter a: ")) # coerces user input to an integer
    b = int(input("Enter b: ")) # coerces user input to an integer

    if a > b:
        print("a is greater than b")
    elif b > a:
        print("b is greater than a")
    elif a == b:
        print("a is equal to b")
    else:
        print("error - how can this happen ??")
        
except:
    print("needs to be a number!")

Enter a: dfg
needs to be a number!

#### Lists

In [18]:
# creating a list

myFirstList = ["Simi", "Green", "Business Consultant", "Pairview"]
myFirstList # same as print(myFirstList)

['Simi', 'Green', 'Business Consultant', 'Pairview']

In [19]:
# indexing - Python uses ZERO-BASED indexing
myFirstList[2]

'Business Consultant'

In [20]:
# Exercise - display a range in the list from "Green" to "Pairview"
myFirstList[1:]

['Green', 'Business Consultant', 'Pairview']

In [21]:
myFirstList[1:4] # same as above, but be careful - the last index is EXCLUDED

['Green', 'Business Consultant', 'Pairview']

In [22]:
myFirstList[1:3] # only returns values in index position 1 and 2

['Green', 'Business Consultant']

In [23]:
# what is this going to do ?
myFirstList[-2:]

['Business Consultant', 'Pairview']

above goes back 2 from the end (RHS) of the list and returns ALL 
values from that point on

In [27]:
myFirstList[::-1] # reverses the list - can also use .reverse

['Pairview', 'Business Consultant', 'Green', 'Simi']

In [28]:
myFirstList[::-2] # last number is step size

['Pairview', 'Green']

In [3]:
# another list
bicycles = ["mountain", 
            "racing",
            "hybrid",
            "road",
            "penny-farthing"]

In [ ]:
# Exercise -
# a) return "racing", "hybrid", "road"
# b) sort the list

In [30]:
# a) return "racing", "hybrid", "road"
bicycles[1:4]

['racing', 'hybrid', 'road']

In [31]:
# aside - same
# a) return "racing", "hybrid", "road"
bicycles[1:-1]

['racing', 'hybrid', 'road']

In [32]:
# same again
bicycles[-4:-1]

['racing', 'hybrid', 'road']

In [33]:
bicycles[1:len(bicycles)-1]

['racing', 'hybrid', 'road']

In [55]:
# aside
len(bicycles)-1

4

In [34]:
# b) sort the list
bicycles.sort()
bicycles

['hybrid', 'mountain', 'penny-farthing', 'racing', 'road']

above is sorted in alphabetical order

NB .sort above is a METHOD - a type of function defined inside a Class object

to see other METHODS, type out the variable (list name), enter "." and press "tab"

In [35]:
# advanced - how to display non-continguous values in a list ?
[bicycles[x] for x in [0,2,4]]

['hybrid', 'penny-farthing', 'road']

#### Tuples

REMEMBER tuples are IMMUTABLE (they can't be changed) and they use ROUND brackets

In [1]:
myTuple = (35,
           "Data Science",
           [1,2,3,4],
           (43,9))

In [37]:
# accessng a tuple is similar to accessing a list
myTuple[2]

[1, 2, 3, 4]

In [42]:
# Exercise - how do we get the 2nd item in the list within the tuple
myTuple[2][1] # 2 and 1 are indices, the 2 refers to the sublist in the 
# tuple (in position 2) and the 1 refers to the value in position 1 
# in the sublist

'Barry'

In [ ]:
# HOMEWORK - try to change the tuple to see what happens

In [2]:
# for example...
myTuple.append("Barry")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
# in contrast to lists...
bicycles.append("scooter")

In [5]:
bicycles # have a look

['mountain', 'racing', 'hybrid', 'road', 'penny-farthing', 'scooter']

#### Dictionaries

In [45]:
# key-value pairs
myCar = {"make": "Mazda",
         "model": "3sport",
         "engine_size": 2259,
         "colour": "laser blue",
         "dimensions": {"w": 1795, "l": 4465, "h": 1465}}

In [56]:
# aside - display the keys in the dictionary
myCar.keys()

dict_keys(['make', 'model', 'engine_size', 'colour', 'dimensions'])

In [46]:
len(myCar) # check length of dictionary

5

In [47]:
# what will this return ?
myCar["dimensions"]["l"] # dimensions "key" frmo myCar and return the value
# associated with the "length" ("l") of the car

4465

above returns the physical length of the car

In [ ]:
# Exercise - have a go at writing a python program which prompts the 
# user for the month of the year and returns the no. of days in that month

In [11]:
userInput = input("which month ? ")

myMonths = {"Jan": 31,
            "Feb": 28,
            "Mar": 31,
            "Apr": 30,
            "May": 31,
            "Jun": 30,
            "Jul": 31,
            "Aug": 31,
            "Sep": 30,
            "Oct": 31,
            "Nov": 30,
            "Dec": 31}

# NB add .title() method to allow the user to enter the month in any case
print(userInput, "has", myMonths[userInput.title()], "days")

which month ? dfsgdfg

KeyError: 'Dfsgdfg'

In [ ]:
# HOMEWORK - have a go at adding an error handler to the above code
# to handle entries which are NOT in the dictionary

In [12]:
# try..except as an error handler for text entries
try:
    userInput = input("which month ? ")

    myMonths = {"Jan": 31,
                "Feb": 28,
                "Mar": 31,
                "Apr": 30,
                "May": 31,
                "Jun": 30,
                "Jul": 31,
                "Aug": 31,
                "Sep": 30,
                "Oct": 31,
                "Nov": 30,
                "Dec": 31}

    # NB add .title() method to allow the user to enter the month in any case
    print(userInput, "has", myMonths[userInput.title()], "days")
except:
    print("entry not found in our dictionary!")

which month ? dgdfgdsfgs
entry not found in our dictionary!